extend base/_layout
append variables
	//- Required
	- const pageTitle= site.sample;
	- const pageDescription= site.description;
	- const pageKeywords= site.keywords;
	- const key = "CSS_LOGOS"
	//- Optional
	- const pageOgpTitle= "CSSでつくれるかな。";
	- const pageOgpImage= site.ogpImage
	- const pageLang= "ja";
	- const pageOgpType= "website";
	//- Not modified
	- const pageUrl= site.relativePath;

block content
	main
		.Logo
			.Logo__Inner
				.Logo__List
					a(href="https://www.adobe.com/jp/products/photoshop.html").Logo__Item.Logo__Item--number01
						.Logo__Text
							| Photoshop
						.LogoDraw.LogoDraw--number01
							.draw1
								| P
							.draw2
								| s
					a(href="https://slack.com/intl/ja-jp").Logo__Item.Logo__Item--number02
						.Logo__Text
							| Slack
						.LogoDraw.LogoDraw--number02
							.drawBox.drawBox--01
								.draw1
								.draw2
								.draw3
							.drawBox.drawBox--02
								.draw4
								.draw5
								.draw6
							.drawBox.drawBox--03
								.draw7
								.draw8
								.draw9
							.drawText
								| S	
					a(href="https://www.iterm2.com/").Logo__Item.Logo__Item--number03
						.Logo__Text
							| iterm2
						.LogoDraw.LogoDraw--number03
							.draw1
								| $
							.draw2
					a(href="https://www.smartnews.com/ja/").Logo__Item.Logo__Item--number04
						.Logo__Text
							| SmartNews
						.LogoDraw.LogoDraw--number04
							.drawBox.drawBox--01
								.draw1
								.draw2
								.draw3
								.draw4
							.drawBox.drawBox--02
								.drawBox--03
									.draw5
									.draw6
								.drawBox--04
									.draw7
									.draw8
					a(href="https://www.mercari.com/jp/").Logo__Item.Logo__Item--number05
						.Logo__Text
							| stone
						.LogoDraw.LogoDraw--number05
							.draw1
							.draw2
							.draw3
							.draw4
							.draw5
							.draw6
					a(href="https://stone-type.jp/").Logo__Item.Logo__Item--number06
						.Logo__Text
							| mercari
						.LogoDraw.LogoDraw--number06
							.draw1
							.draw2
							.draw3
							.draw4
							.draw5
							.draw6
								| m
							.draw7
							.draw8
							.draw9
