extend base/_layout
append variables
	//- Required
	- const pageTitle= site.sample;
	- const pageDescription= site.description;
	- const pageKeywords= site.keywords;
	- const key = ""
	//- Optional
	- const pageOgpTitle= "";
	- const pageOgpImage= site.ogpImage
	- const pageLang= "ja";
	- const pageOgpType= "website";
	//- Not modified
	- const pageUrl= site.relativePath;

block content
	main
		.Logo
			.Logo__Inner
				.Logo__List
					.Logo__Item.Logo__Item--number01
						.Logo__Text
							| Photoshop
						.LogoDraw.LogoDraw--number01
							.draw1
								| P
							.draw2
								| s
					.Logo__Item.Logo__Item--number02
						.Logo__Text
							| Slack
						.LogoDraw.LogoDraw--number02
							.drawBox.drawBox--01
								.draw1
								.draw2
								.draw3
							.drawBox.drawBox--02
								.draw4
								.draw5
								.draw6
							.drawBox.drawBox--03
								.draw7
								.draw8
								.draw9
							.drawText
								| S	
					.Logo__Item.Logo__Item--number03
						.Logo__Text
							| iterm2
						.LogoDraw.LogoDraw--number03
							.draw1
								| $
							.draw2
					.Logo__Item
					.Logo__Item
						
