.Logo {
	&__List {
		display: flex;
		flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
	}

	&__Item {
    width: 30rem;
		height: 30rem;
		background-color: #eee;
		border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
	}
}

.LogoDraw {
	width: 150px;
	height: 150px;
	box-shadow: 1px 4px 15px -5px #000;
	position: relative;
  perspective: 900px;
  &--item01{
    border: 4px solid #26d6fd;
    background-color: #022731;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.draw1{
  color: #26d6fd;
  font-size: 8rem;
  font-weight: bold;
  margin-top: -.7rem;
}
.draw2{
  color: #26d6fd;
  font-size: 7rem;
  font-weight: bold;
  margin-top:.3rem;
  transform: translateX(-.4rem);
}
