/*margin*/
.mT5{margin-top:5px;}
.mT10{margin-top:10px;}
.mT15{margin-top:15px;}
.mT20{margin-top:20px;}
.mT24{margin-top:24px;}
.mT30{margin-top:30px;}
.mT40{margin-top:40px;}
.mT60{margin-top: 60px;}

.mB3{margin-bottom:3px;}
.mB4{margin-bottom:4px;}
.mB5{margin-bottom:5px;}
.mB10{margin-bottom:10px;}
.mB12{margin-bottom:12px;}
.mB15{margin-bottom:15px;}
.mB20{margin-bottom:20px;}
.mB24{margin-bottom:24px;}
.mB30{margin-bottom:30px;}
.mB40{margin-bottom: 40px;}
.mB50{margin-bottom: 50px;}
.mB60{margin-bottom: 60px;}
.mB80{margin-bottom: 80px;}

.mL5{margin-left:5px;}
.mL10{margin-left:10px;}
.mL15{margin-left:15px;}
.mL20{margin-left:20px;}
.mL30{margin-left:30px;}
.mL40{margin-left:40px;}
.mL50{margin-left:50px;}
.mL60{margin-left:60px;}

.mR5{margin-right:5px;}
.mR10{margin-right:10px;}
.mR15{margin-right:15px;}
.mR20{margin-right:20px;}
.mR30{margin-right: 30px;}
.mR50{margin-right:50px;}

.mLR5{margin-left:5px; margin-right:5px;}
.mLR10{margin-left:10px; margin-right:10px;}
.mLR15{margin-left:15px; margin-right:15px;}
.mLR20{margin-left:20px; margin-right:20px;}
.mAuto{margin:0 auto;}

/*padding*/
.pT5{padding-top:5px;}
.pT10{padding-top:10px;}
.pT15{padding-top:15px;}
.pT20{padding-top:20px;}
.pT30{padding-top:30px;}

.pB3{padding-bottom:3px;}
.pB5{padding-bottom:5px;}
.pB10{padding-bottom:10px;}
.pB15{padding-bottom:15px;}
.pB20{padding-bottom:20px;}
.pB30{padding-bottom:30px;}

.pL5{padding-left:5px;}
.pL10{padding-left:10px;}
.pL15{padding-left:15px;}
.pL20{padding-left:20px;}
.pL30{padding-left:30px;}

.pR5{padding-right:5px;}
.pR10{padding-right:10px;}
.pR15{padding-right:15px;}
.pR20{padding-right:20px;}

.pLR20{padding-left:20px; padding-right:20px;}

/*font-weight*/
.fntB{font-weight:bold;}
.fntN{font-weight:normal;}

/*font-size*/
.font10{font-size:10px;}
.font11{font-size:11px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font17{font-size:17px;}
.font18{font-size:18px;}
.font19{font-size:19px;}
.font20{font-size:20px;}
.font30{font-size:3rem;}

/*position*/
.poR{position: relative;}
.poA{position: absolute;}
.poF{position: fixed;}
.poS{position: static;}

/*white-space:pre-wrap;*/
.preWrap{white-space:pre-wrap;}

.lH4m{line-height: 1.4em;}
.lH5m{line-height: 1.5em;}
.lH6m{line-height: 1.6em;}
.lH7m{line-height: 1.7em;}
.lH8m{line-height: 1.8em;}
.lH9m{line-height: 1.9em;}
.lH2m{line-height: 2em;}

.alignC{text-align: center;}
